<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}"></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/../admin/css/main.css}">
    <script th:src="@{/../admin/js/index.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script th:inline="javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            var message = /*[[${message}]]*/ '';
            if (message) {
                alert(message);
            }
            /*]]>*/
        });

    </script>

</head>
<body>
</body>
</html>