<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Danh mục')">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<th:block th:replace="sidebar :: sidebar"></th:block>
<div id="main-content">
    <th:block th:replace="header :: header"></th:block>
    <div id="crumbs">
        <ul>
            <li>
                <a th:href="@{/}"><i class="fas fa-home"></i></a>
            </li>
            <li>
                <a>Danh mục</a>
            </li>
        </ul>
    </div>
    <main>
        <div class="row-search">
            <div id="search-bar">
                <form class="search-box" th:action="@{/categories/page/1}">
                    <div class="input-box">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <input th:if="${sortField!=null}" type="hidden" name="sortField" th:value="${sortField}">
                        <input type="text" placeholder="Nhập tên danh mục..." name="name" id="input-search" th:value="${name}"/>
                    </div>
                    <div class="search-button">
                        <button style="background-color: rgba(0,0,0,0);border-radius:50%;border: none">
                            <img
                                    th:src="@{/images/search-icon.png}"
                                    alt="search"/>
                        </button>
                    </div>
                    <div class="clear-button">
                        <a th:href="@{/categories}">
                            <img
                                    th:src="@{/images/clear-icon.png}"
                                    alt="search"/>
                        </a>
                    </div>
                </form>
            </div>
            <a id="add-icon" th:href="@{'/categories/add'}">
                <img th:src="@{/images/add-icon.png}">
            </a>
            <a id="sort-icon"
               th:href="@{'/categories/page/' + ${currentPage} + '?sortDir=' + ${sortDir == 'asc' ? 'desc' : 'asc'} +${ sortField != null && sortField!='' ?'&sortField=' + sortField:''} + ${name != null? '&name=' + name : ''}}">
                <img th:src="@{${sortDir == 'asc' ? '/images/asc-icon.png' : '/images/desc-icon.png'}}" alt="Icon">
            </a>
        </div>
        <div id="tree-categories"></div>
    </main>
    <div th:replace="fragments :: pagination('Danh mục','/categories')"></div>
    <th:block th:replace="footer :: footer"></th:block>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const categories = /*[[${categories}]]*/ [];

    $(document).ready(function () {
        const rootUl = $("<ul></ul>")
        let currentUl = rootUl;
        let currentDepth = 0;

        categories.forEach(function (category) {
            const depth = (category.name.match(/^(-+)/)?.[0].length || 0) / 2;
            const name = category.name.trim().replace(/^-+/, "");
            const ul = $("<ul></ul>")
            const link = $("<a></a>")
                .attr("href", "/admin/categories/edit/" + category.id)
                .addClass("fas fa-edit edit-icon");
            const span = $("<span></span>").html(name).attr("id",category.id);
            if (!category.hasChildren){
                const button = $("<button></button>")
                    .attr("onclick", "deleteRequest("+JSON.stringify(category)+", 'danh mục', 'categories')")
                    .addClass("fas fa-trash trash-icon");
                span.append(button)
            }
            span.append(link);
            const li = $("<li></li>").append(span).append(ul); // Thêm thẻ <ul> vào trong thẻ <li>
            if (depth > currentDepth) {
                currentUl = currentUl.children("li:last").children("ul");
            } else if (depth < currentDepth) {
                for (let i = currentDepth; i > depth; i--) {
                    currentUl = currentUl.parent().parent();
                }
            }
            currentUl.append(li);
            currentDepth = depth;
        });

        $("#tree-categories").append(rootUl);
    });
    /*]]>*/
</script>
<script th:src="@{/js/category.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>