.container {
    display: flex;
    flex-direction: column;
}

.upper {
    margin-bottom: 20px; /* Khoảng cách giữa upper và bottom */
}

.bottom {
    display: flex;
}

.left {
    flex: 1;
    padding-right: 20px; /* Khoảng cách giữa left và right */
}

.right {
    flex: 1;
}

.product-images {
    position: relative;
}

.thumbnail {
    width: 50px; /* Kích thước hình ảnh nhỏ */
    height: 50px;
    margin-bottom: 5px; /* Khoảng cách giữa các hình ảnh nhỏ */
}

#main-img {
    width: 100%; /* Đảm bảo hình ảnh lớn điền vào không gian khối upper */
    height: auto;
}
