@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 650px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #FFB6C1;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(167, 22, 121);
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

button.hidden:hover {
    background-color: rgb(228, 27, 214); /* Màu sáng khi rê chuột vào */
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}


.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20% ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #fde7f6;
    height: 100%;
    background
    : linear-gradient(to right, #FFB6C1,  rgb(230, 178, 230));
    color: #000;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(-200%);
}

.input-wrapper .font {
    color: #130f40;
    margin: 5px 0;
    font-family: "JetBrains", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.input-wrapper inputs {
    height: 40px;
    width: 350px;
    padding: 0px 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.input-wrapper .font2 {
    margin-top: 30px;
}
.input-wrapper #username_error,
.input-wrapper #pass_error {
    margin-top: 10px;
    width: 345px;
    font-size: 18px;
    color: #c62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 8px 8px;
    border-radius: 30px;
    border: 1px solid #ef9a9a;
    display: none;
}
.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.form .remember-sign-in {
    margin-bottom: revert;
    color: #607d8b;
    font-size: 14px;
    text-align: left;
}

.indicator {
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.indicator span {
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
.indicator span:nth-child(2) {
    margin: 0 3px;
}
.indicator span.active:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.indicator span.weak:before {
    background-color: #ff4757;
}

.indicator span.medium:before {
    background-color: orange;
}

.indicator span.strong:before {
    background-color: #23ad5c;
}

.text.weak {
    color: #ff4757;
}

.text.medium {
    color: orange;
}
.text.strong {
    color: #23ad5c;
}

.text {
    font-size: 20px;
    font-weight: 500;
    display: none;
    margin-bottom: -10px;
    text-align: center;
}

.checkbox-container {
    margin-left: -8rem;
    display: inline-flex;
    align-items: center;
}

.checkbox {
    position: relative;
    overflow: hidden;
    padding: .55rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.027);
    height: 35px;
    width: 35px;
}

.checkbox input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.checkbox-text {
    cursor: pointer;
}

.toggle-password {
    position: relative;
    display: inline-block;
    position: absolute;
    right: 55px;
    top: 53%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.toggle-confirm-password {
    position: absolute;
    right: 55px;
    top: 61%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.toggle-sign-in-password{
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.8s linear infinite;
    display: none;
}
#message{
    margin-top: 5px;
}
#forgot-pass:hover {
    color: pink;
}