<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}"></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script th:inline="javascript">
        $(document).ready(function () {
            /*<![CDATA[*/
            var message = /*[[${message}]]*/ '';
            if (message) {
                alert(message);
            }
            /*]]>*/
        });
    </script>
    <style>/* CSS for ul */

    </style>
</head>
<body>
<div th:fragment="pagination(entityName,moduleURL)">
    <div class="row-brand" th:if="${totalItems > 0}">
        <span>[[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="row-brand" th:unless="${totalItems > 0}">
        <span>Không tìm thấy</span>
    </div>

    <div th:if="${totalPages > 1}" class="container-pagination">
        <div class="go-page">
            <form action='/admin/brands/page/' id="form-go">
                <input type="hidden" name="sortField" th:value="${sortField}" />
                <input type="hidden" name="sortDir" th:value="${sortDir}" />
                <input th:if="${keyword!=null}" type="hidden" name="keyword" th:value="${keyword}" />
                <input type="number" placeholder="Nhập page cần đến" id="input-go" min="1" th:max="${totalPages}" th:value="${currentPage}">
                <button type="submit" id="button-go">Go</button>
            </form>
        </div>
        <ul class="pagination">
            <li th:classappend="${currentPage == 1} ? 'disable-click'">
                <a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
            </li>
            <li th:if="${currentPage > 2}">
                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 2}, ${currentPage - 2})"></a>
            </li>
            <li th:if="${currentPage > 1}">
                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, ${currentPage - 1})"></a>
            </li>
            <li class="disable-click active">
                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage}, ${currentPage})"></a>
            </li>
            <li th:if="${currentPage < totalPages}">
                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, ${currentPage + 1})"></a>
            </li>
            <li th:if="${currentPage < totalPages - 1}">
                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 2}, ${currentPage + 2})"></a>
            </li>
            <li>
                <a id="go">Go</a>
            </li>
            <li th:classappend="${currentPage == totalPages} ? 'disable-click'">
                <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
            </li>
        </ul>
    </div>
</div>
<a th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}"
   th:fragment="page_link(moduleURL, pageNum, label)" class="page-link">
    [[${label}]]
</a>
</body>
</html>
